<div class="viewport">
    <main class="content">
        <app-header></app-header>
        <section class="links">
            @for (link of links; track $index) {
                <app-link
                    [image]="link.image"
                    [name]="link.name"
                    [nameColor]="link.nameColor"
                    [description]="link.description"
                    [android]="link.android"
                    [ios]="link.ios"
                    [mac]="link.mac"
                    [windows]="link.windows"></app-link>
            }
        </section>
        <!-- <app-footer></app-footer> -->
        <!-- <app-hero></app-hero>
        <app-feature></app-feature>
        <app-cta></app-cta> -->
        <router-outlet />
    </main>
</div>
