<div class="viewport">
    <main class="content">
        <app-header></app-header>
        <section class="links">
            <app-link
                image="madina.png"
                name="حامل القرآن: مصحف المدينة"
                android="https://bit.ly/qmdna"
                ios="https://bit.ly/Qmdna"
                mac="https://bit.ly/madina-mac"
                windows="https://bit.ly/madina_win"></app-link>
            <app-link
                image="shmrly.png"
                name="حامل القرآن: مصحف الشمرلي"
                android="https://bit.ly/shmrly"
                ios="https://bit.ly/Shmrly"
                mac="https://bit.ly/shmrly-mac"
                windows="https://bit.ly/shmrly_win"></app-link>
            <app-link
                image="tjwid.png"
                name="حامل القرآن: مصحف التجويد"
                description="برواية حفص عن عاصم"
                android="https://bit.ly/qhtjwid"
                ios="https://bit.ly/Qhtjwid"
                mac="https://bit.ly/tjwid-mac"
                windows="https://bit.ly/tjwid_win"></app-link>
            <app-link
                image="warsh.png"
                name="مصحف ورش"
                description="برواية ورش عن نافع، من طريق الأزرق"
                android="https://bit.ly/qkzwrsh"
                ios="https://bit.ly/Qkzwrsh"
                mac="https://bit.ly/warsh_mac"
                windows="https://bit.ly/warsh_win"></app-link>
            <app-link
                image="qalon.png"
                name="مصحف قالون"
                description="برواية قالون عن نافع"
                android="https://bit.ly/kzqalon"
                ios="https://bit.ly/Kzqalon"
                mac="https://bit.ly/qalon_mac"
                windows="https://bit.ly/qalon_win"></app-link>
        </section>
        <!-- <app-hero></app-hero>
        <app-feature></app-feature>
        <app-cta></app-cta> -->
        <router-outlet />
    </main>
</div>
